@charset "UTF-8";
body{
	background-image:url("../Image/black.png");
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height:100%;
	width:100%;
}

h1{
	text-align:center;
	margin-top:100px;
	margin-bottom:50px;
	font-size:30px;
	color:white;
}
h2,h3{
	text-align:center;
	margin-top:50px;
	margin-bottom:50px;
	font-size:20px;
	color:white;
}
table{
  margin-top:30px;
  margin:auto;
  width:100%;
  color:white;
}
