@charset "UTF-8";
body{
	background-image: url("../Image/スーパーマーケット.jpg");
	width: 100%;
  	height: 100vh;
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center;
}

h1{
	text-align:center;
	margin-top:100px;
	margin-bottom:50px;
	
	
}
h2{
	text-align:center;
	margin-top:50px;
	margin-bottom:100px;
}
h3{
	text-align:center;
	font-size:20px;
	color:red;
	
}

.depowith{
	text-align:center;
	height:20px;
	font-size:20px;
	margin-bottom:30px;
}
.itemregister{
	text-align:center;
	height:20px;
	font-size:20px;
	margin-bottom:30px;
}
.itemsearch{
	text-align:center;
	height:20px;
	font-size:20px;
	margin-bottom:30px;
}
.modify{
	text-align:center;
	height:20px;
	font-size:20px;
	margin-bottom:30px;
}
.logsearch{
	text-align:center;
	height:20px;
	font-size:20px;
	margin-bottom:30px;
}
input[type = "submit"]{
	margin-left:720px;
	margin-right:500px;
}
h4{
	text-align:center;
	margin-top:50px;
	font-size:30px;
	color:red;
}